@model int

<div class="row">
    <div class="col">
        <button asp-action="upSert" class="btn btn-success" asp-route-Id="@Model"><i class="bi bi-pencil-square"></i> Actualizar</button>
        <a asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-backspace"></i> Regresar</a>
    </div>
</div>

